/* Paleta de colores azules */
:root {
    --bg-dark-blue: #0a2e4c; /* Azul marino oscuro */
    --bg-medium-blue: #1d4a70; /* Azul medio */
    --card-bg: #ffffff; /* Blanco para las tarjetas */
    --text-light: #f8f9fa; /* Texto claro (casi blanco) */
    --text-dark: #212529; /* Texto oscuro (casi negro) */
    --primary-accent: #3d8bfd; /* Azul brillante para botones */
}

/* Estilos para asegurar que las columnas ocupen toda la altura */
body, html {
    height: 100%;
}
.full-height-col {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.scrollable-content {
    flex-grow: 1;
    overflow-y: auto;
}

/* Aplicando la nueva paleta de colores */
.left-column {
    background-color: var(--bg-dark-blue);
    color: var(--text-light);
}
.right-column {
    background-color: var(--bg-medium-blue);
    color: var(--text-light);
}
.card {
    background-color: var(--card-bg);
    color: var(--text-dark);
    border: none;
    border-radius: 12px;
}
.btn-primary {
    background-color: var(--primary-accent);
    border-color: var(--primary-accent);
}
.btn-primary:hover {
    opacity: 0.9;
    background-color: var(--primary-accent);
    border-color: var(--primary-accent);
}

/* cards */
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: normal;
}

.btn-sm {
    border-radius: 9px;
}

.list-group-item {
    border-radius: 9px !important
}

#floatingTextarea2Disabled {
    height: 200px; 
    padding-top: 2rem;
}

.input-coin {
    font-weight: bold;
}

.scrollable-content {
    overflow: visible;
}

.btn-recompras {
    --bs-btn-padding-x: 1.75rem;
    background-color: #8c68cd;
}

.btn-recompras:hover {
    background-color: #5b3697;
}

.bg-entry {
  background-color: gainsboro;
}

@media (max-width: 1550px) {
    .input-group-text .label-text {
        display: none;
    }
}