<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
    <title>Dashboard de Dos Columnas</title>
    <!-- Usando Bootstrap para el layout de columnas -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet">
    <!-- Socket.IO -->
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <!-- Audios -->
    <audio id="soundlong" src="../static/sounds/pop.wav" preload="auto"></audio>
    <audio id="soundshort" src="../static/sounds/pop.mp3" preload="auto"></audio>

</head>
<body>

    <div class="container-fluid">
        <div class="row">

            <!-- Columna Izquierda: Mensaje de Saludo -->
            <div class="col-md-6 d-flex align-items-center pt-4 full-height-col left-column text-center">
                <!-- <div class="text-center"> -->
                    <h1 id="simularAlerta" class="display-5 fw-bold">Alertas de Movimiento</h1>
                    <div class="text-center py-3">
                        <button id="activarSonido" class="btn btn-success">🔔 Activar alertas sonoras</button>
                        <!-- Just for Tests -->
                        <!-- <div class="text-center my-3">
                            <button id="simularAlerta" class="btn btn-secondary">🔁 Simular alerta</button>
                        </div> -->
                    </div>
                <!-- </div> -->
                <div class="container py-4">
                    <div id="alertas" class="row">

                        <!-- Aquí las alertas -->

                    </div>
                </div>
                
            </div>

            <!-- Columna Derecha: Dashboard Dinámico -->
            <div class="col-md-6 p-4 full-height-col right-column">
                <div class="scrollable-content mb-4">
                    <h2 class="mb-4 fw-light">Calculadora de Recompras</h2>
                    <!-- Botón para agregar nuevas tarjetas -->
                    <div class="input-group mb-3">
                        <span class="input-group-text">Coin <span class="text-success ms-2 fw-bolder">₿</span></span>
                        <input type="text" id="Ticker" class="form-control input-coin" placeholder="BTC" aria-label="Coin">
                        <span class="input-group-text">Price 💴</span>
                        <input type="text" id="LastPrice" class="form-control input-coin" placeholder=".." aria-label="Last Price" value="">
                        <span class="input-group-text">Quantity 🪙</span>
                        <input type="text" id="Value" class="form-control input-coin" placeholder=".." aria-label="Value" value="10">
                        <button class="btn shadow-sm btn-recompras" onclick="agregarTarjetaRecompras()">Calcular</button>
                    </div>
                    <div class="input-group mb-4">
                        <span class="input-group-text">Capital Margin💲</span>
                        <input type="text" id="Capital" class="form-control input-coin" placeholder="" aria-label="Capital" disabled="disabled">
                    </div>
                    <hr>
                    
                    <!-- Contenedor para las tarjetas dinámicas -->
                    <div id="tarjetas" class="row justify-content-center">

                        <!-- Aquí las tarjetas de recompras -->

                    </div>
                </div>

                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Console messages..." id="floatingTextarea2Disabled" disabled=""></textarea>
                    <label for="floatingTextarea2Disabled">Consola</label>
                </div>
            </div>

        </div>
    </div>

    <!-- Scripts -->
    <script src="../static/js/main.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>