<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg" />
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="GafasWeb" />
    <link rel="manifest" href="/static/site.webmanifest" />
    <title>Dashboard de Trading</title>
    <!-- Usando Bootstrap para el layout de columnas -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <!-- Audios -->
    <audio id="soundlong" src="../static/sounds/pop.wav" preload="auto"></audio>
    <audio id="soundshort" src="../static/sounds/pop.mp3" preload="auto"></audio>

</head>
<body>

    <div class="container-fluid">
        <div class="row">

            <!-- Columna Izquierda: Mensaje de Saludo -->
            <div class="col-md-6 d-flex align-items-center pt-4 full-height-col left-column text-center">
                <!-- <div class="text-center"> -->
                    <h1 id="simularAlerta" class="display-5 fw-bold">Alertas de Movimiento</h1>
                    <div class="text-center py-3">
                        <button id="activarSonido" class="btn btn-success">🔔 Activar alertas sonoras</button>
                        <!-- Just for Tests -->
                        <!-- <div class="text-center my-3">
                            <button id="simularAlerta" class="btn btn-secondary">🔁 Simular alerta</button>
                        </div> -->
                    </div>
                <!-- </div> -->
                <div class="container py-4">
                    <div id="alertas" class="row">

                        <!-- Aquí las alertas -->

                    </div>
                </div>
                
            </div>

            <!-- Columna Derecha: Dashboard Dinámico -->
            <div class="col-md-6 p-4 full-height-col right-column">
                <div class="scrollable-content mb-4">
                    <h2 class="mb-4 fw-light">Calculadora de Recompras</h2>
                    <!-- Botón para agregar nuevas tarjetas -->
                    <div class="d-flex justify-content-around mb-3">
                        <div>
                            <span>Capital Total💲</span>
                            <strong id="Capital" class="text-success"></strong>
                        </div>
                        <div>
                            <span>Capital Operable💲</span>
                            <strong id="CapitalOperable" class="text-primary"></strong>
                        </div>
                        <div>
                            <span>Valor Entrada💲</span>
                            <strong id="EntryValue" class="text-info"></strong>
                        </div>
                    </div>
                    <!-- <div class="input-group mb-3">
                        <span hidden="hidden" class="input-group-text">Capital Total💲</span>
                        <input type="hidden" id="Capital" class="form-control input-coin" placeholder="" aria-label="Capital" disabled="disabled">
                        <span class="input-group-text">Capital Operable💲</span>
                        <input type="text" id="CapitalOperable" class="form-control input-coin" placeholder="" aria-label="Capital Operable" disabled="disabled">
                        <span class="input-group-text">Valor Entrada💲</span>
                        <input type="text" id="EntryValue" class="form-control input-coin" placeholder="" aria-label="Valor de Entrada" disabled="disabled">
                    </div> -->
                    <div class="input-group mb-4">
                        <span class="input-group-text shadow">
                            <span class="label-text me-1">Coin</span>
                            <i class="bi bi-currency-bitcoin text-success"></i>
                        </span>
                        <input type="text" id="Ticker" class="form-control input-coin shadow" placeholder="BTC" aria-label="Coin">
                        <span class="input-group-text shadow">
                            <span class="label-text me-2">Price</span>
                            <i class="bi bi-currency-exchange text-warning"></i>
                        </span>
                        <input type="text" id="LastPrice" class="form-control input-coin shadow" placeholder=".." aria-label="Last Price" value="">
                        <span class="input-group-text shadow">
                            <span class="label-text me-2">Quantity</span>
                            <i class="bi bi-box-arrow-in-down-right text-danger"></i>
                        </span>
                        <input type="text" id="Quantity" class="form-control input-coin shadow" placeholder=".." aria-label="Quantity" value="10">
                        <button class="btn shadow btn-recompras" onclick="agregarTarjetaRecompras()">Calcular</button>
                    </div>

                    <hr>
                    
                    <!-- Contenedor para las tarjetas dinámicas -->
                    <div id="tarjetas" class="row justify-content-center">

                        <!-- Aquí las tarjetas de recompras -->

                    </div>
                </div>

                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Console messages..." id="floatingTextarea2Disabled" disabled=""></textarea>
                    <label for="floatingTextarea2Disabled">Consola</label>
                </div>
            </div>

        </div>
    </div>

    <!-- Scripts -->
    <!-- Socket.IO -->
    <script src="../static/js/main.js" defer></script>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>